.skills{
    width: 900px;
  }
  .skills .items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* width: 700px; */
    margin: auto;
    
  }
  
  .skills .items .item{
    width: calc(33.33%);
    padding: 5px;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
    background-color: black;
    border: 1px solid lightgray;
    box-shadow: rgb(24, 23, 23);
  }
  .skills .items .item img{
    width: 60px;
  }